DefaultFileBrowserPath=.
DefaultSkin=default.skin
KeyMap=default.keymap
DefaultPlayMode=continue
RememberLastPlaylist=yes
RememberSettings=yes
AutoSelectCurrentPlaylistItem=yes
AllowVolumeControlInHoldState=no
SecondsUntilBacklightPowerOff=0
EnableCoverArtwork=yes
CoverArtworkFilePattern=cover.jpg;cover.png;front.jpg;*.jpg;*.png
CoverArtworkLarge=no
SmallCoverArtworkAlignment=right
LoadEmbeddedCoverArtwork=first
LyricsFilePattern=$.txt;*.txt
FileSystemCharset=UTF-8
PlaylistSavePresets=playlist1.m3u;playlist2.m3u;playlist3.m3u;playlist4.m3u;playlist5.m3u;playlist6.m3u;playlist7.m3u;playlist8.m3u
TimeDisplay=elapsed
Scroll=always
BacklightPowerOnOnTrackChange=no
CPUClock=default
FileBrowserFoldersFirst=yes
Volume=10
AutoPlayOnProgramStart=no
